<% provide(:title, "Home") %>

<div class="first row">
	<div class="small-12 columns">
		<h1>Home</h1>
		<p>This is a template for quickly developing a new web application.</p>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<h2>Includes</h2>
	</div>
</div>	

<div class="row">
	<div class="small-12 large-4 columns">
		<h3>User Authentication</h3>
		<p>A simple user authentication has been implemented using vanilla ruby.  Admin access to an example admin account is already setup.  'Remember Me' sessions functionality is present.</p>
	</div>
	<div class="small-12 large-4 columns">
		<h3>Zurb Foundation</h3>
		<p>User Interface Components are provided by Zurb Foundation.  The 'topbar' component is used for the primary navigation, with Admin, User and Public partials providing the appropriate links based on access. </p>
	</div>	
	<div class="small-12 large-4 columns">
		<h3>REST API Structure</h3>
		<p>All controllers have #index(show all records), #show(show one record), #new/#create(create record), #edit/#update(edit record) and #destroy(delete record) actions.</p>
	</div>	
</div>	