<% provide(:title, "Forgot password") %>

<div class="row">
  <div class="small-12 large-6 large-centered columns">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>

			<div class="row">
				<div class="small-12 columns">
					<h1 class="text-center">Forgot Password</h1>
				</div>
			</div>

		  <div class="row" style="margin-top: 25px;">
        <div class="small-4 columns">
        	<%= f.label :email, "Email", 	class: "right inline" %>
        </div>
        <div class="small-8 columns">
          <%= f.email_field :email, placeholder: "youremail@example.com" %>
        </div>
		  </div>

		  <div class="row">
        <div class="small-12 medium-6 medium-centered columns">
        	<%= f.submit "Submit", class: "expand large success button",
        												 style: "margin-top: 25px;" %>
        </div>
		  </div>

      
    <% end %>
  </div>
</div>