<% provide(:title, "All Users") %>

<div class="row">
	<div class="small-12 columns">
		<h1>Users</h1>
	</div>
</div>

<div class="row clearfix" id="user-container">
	<% @users.each do |user| %>
		<div class="small-12 columns">
			<div id="user-list">	
				<%= render user %>
			</div>	
		</div>	
	<% end %>
</div>	
