<nav class="top-bar" 
     data-topbar 
     role="navigation" 
     data-options="mobile_show_parent_link:false;">

  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "template", root_path %></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if logged_in? && current_user.admin %>
        <%= render 'layouts/admin_links' %>
      <% elsif logged_in? && !current_user.admin %>
        <%= render 'layouts/user_links' %>
      <% else %>
        <%= render 'layouts/public_links' %>
      <% end %>     
    </ul>
  </section>
</nav>