      <li class="divider"></li>
      <li>
        <%= link_to root_path do %>
          <i class="fa fa-home fa-link-size">&nbsp;&nbsp;Home</i>
        <% end %>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to about_path do %>
          <i class="fa fa-adn fa-link-size">&nbsp;&nbsp;About</i>
        <% end %>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to help_path do %>
          <i class="fa fa-question-circle fa-link-size">&nbsp;&nbsp;Help</i>
        <% end %>
      </li>         
      <li class="divider"></li> 
      <li>
        <%= link_to login_path(current_user) do %>
          <i class="fa fa-sign-in fa-link-size">&nbsp;&nbsp;Login</i>
        <% end %>
      </li>             